:host {
  display: inline-flex;
    --bcd-rating-margin-left: 2px;
    --bcd-rating-border-color: black;
    --bcd-rating-background-fill-color: black;
    --bcd-rating-background-empty-color: white;
    --bcd-rating-size: 15px;
    --bcd-rating-border-radius: 50%;
    --bcd-rating-border-width: 2px;
    --bcd-rating-border-type: solid;
}

.portion {
    border: var(--bcd-rating-border-width) var(--bcd-rating-border-type) var(--bcd-rating-border-color);
    background-color: var(--bcd-rating-background-empty-color);
    width: var(--bcd-rating-size);
    height: var(--bcd-rating-size);
    border-radius: var(--bcd-rating-border-radius);
    margin: 0 var(--bcd-rating-margin-left) 0 var(--bcd-rating-margin-left);
}

.portion-full {
    background-color: var(--bcd-rating-background-fill-color);
    z-index: 1;
}

.portion-partial {
    height: 100%;
    background-color: var(--bcd-rating-background-fill-color);
    width: 100%;
    border-radius: 40% 0 0 40%;
    z-index: 0;
}

.partial-10 { width: 10%; }
.partial-20 { width: 20%; }
.partial-30 { width: 30%; }
.partial-40 { width: 40%; }
.partial-50 { width: 50%; }
.partial-60 { width: 60%; }
.partial-70 { width: 70%; }
.partial-80 { width: 80%; }
.partial-90 { width: 90%; }
