:host {
  display: inline-flex;
}

.portion {
    border: 1px solid var(--border-color);
    background-color: var(--background-empty-color);
    width: var(--size);
    height: var(--size);
    border-radius: var(--border-radius);
    margin: 0 var(--margin-left) 0 var(--margin-left);
}

.portion-full {
    background-color: var(--background-fill-color);
}
